@model Notifier.BackgroundService.Host.Contracts.Emails.NewMoviesEmailModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>There are new movie seasons available: @Model.Movies.Count</title>
</head>
<body>
    <p>Dear @Model.Name,</p>
    <p>We're excited to announce that there are @Model.Movies.Count new movie seasons available on our platform!</p>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Info</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Info</td>
                    <td><a href="@movie.Link">Link</a></td>
                </tr>
            }
        </tbody>
    </table>
    <p>Thank you for using our service!</p>
</body>
</html>
